<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>商城首页</title>
</head>
<body>
<br/>
<br/><br/>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/login}" class="btn btn-info">登录</a>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/toLogout}" class="btn btn-info">注册</a>
    </div>
</div>

</body>
</html>